In [3]:
import pandas as pd
spot = pd.read_parquet('C:/Users/Tibor/Data/20211205_58982_tob.parquet')
future = pd.read_parquet('C:/Users/Tibor/Data/20211205_75072_tob.parquet')

In [7]:
spot['spot_bid'] = spot['bid_price']
spot['spot_ask'] = spot['ask_price']
spot = spot.set_index('exchange_timestamp_nanos')
spot = spot[['spot_bid', 'spot_ask']]
spot

                          spot_bid  spot_ask
exchange_timestamp_nanos
1638662105425062144         2.6532    2.6570
1638662105506762496         2.6532    2.6570
1638662105577038848         2.6532    2.6570
1638662105650436352         2.6532    2.6570
1638662105751763712         2.6532    2.6570
...                            ...       ...
1638748806511955968         2.6381    2.6421
1638748806559804928         2.6381    2.6421
1638748806608308992         2.6381    2.6421
1638748806634416384         2.6381    2.6421
1638748806785925120         2.6381    2.6421

[618284 rows x 2 columns]

In [8]:
future['future_bid'] = future['bid_price']
future['future_ask'] = future['ask_price']
future = future.set_index('exchange_timestamp_nanos')
future = future[['future_bid', 'future_ask']]
future

                          future_bid  future_ask
exchange_timestamp_nanos
1638662106191143680           2.5185      2.5557
1638662107216199424           2.5185      2.5557
1638662108241485824           2.5185      2.5557
1638662108792361728           2.5185      2.5556
1638662109267631616           2.5185      2.5556
...                              ...         ...
1638748806710803968           2.5051      2.5250
1638748806762573312           2.5051      2.5250
1638748806816705536           2.5052      2.5250
1638748806885901056           2.5052      2.5250
1638748806982740480           2.5053      2.5250

[215529 rows x 2 columns]

In [16]:
data = pd.merge(left=spot, right=future, how='outer', right_index=True, left_index=True)
data = data.sort_index()
data = data.ffill()
data = data.dropna(how='any')
data

                          spot_bid  spot_ask  future_bid  future_ask
exchange_timestamp_nanos
1638662106191143680         2.6533    2.6570      2.5185      2.5557
1638662106221585664         2.6533    2.6570      2.5185      2.5557
1638662106321869824         2.6533    2.6570      2.5185      2.5557
1638662106371014144         2.6533    2.6570      2.5185      2.5557
1638662106724817408         2.6533    2.6570      2.5185      2.5557
...                            ...       ...         ...         ...
1638748806762573312         2.6381    2.6421      2.5051      2.5250
1638748806785925120         2.6381    2.6421      2.5051      2.5250
1638748806816705536         2.6381    2.6421      2.5052      2.5250
1638748806885901056         2.6381    2.6421      2.5052      2.5250
1638748806982740480         2.6381    2.6421      2.5053      2.5250

[833803 rows x 4 columns]

In [18]:
data['spot_mid'] = (data['spot_bid'] + data['spot_ask'])/2
data['future_mid'] = (data['future_bid'] + data['future_ask'])/2
data

,spot_bid,spot_ask,future_bid,future_ask,spot_mid,future_mid
exchange_timestamp_nanos,,,,,,
1638662106191143680,2.6533,2.6570,2.5185,2.5557,2.65515,2.53710
1638662106221585664,2.6533,2.6570,2.5185,2.5557,2.65515,2.53710
1638662106321869824,2.6533,2.6570,2.5185,2.5557,2.65515,2.53710
1638662106371014144,2.6533,2.6570,2.5185,2.5557,2.65515,2.53710
1638662106724817408,2.6533,2.6570,2.5185,2.5557,2.65515,2.53710
...,...,...,...,...,...,...
1638748806762573312,2.6381,2.6421,2.5051,2.5250,2.64010,2.51505
1638748806785925120,2.6381,2.6421,2.5051,2.5250,2.64010,2.51505
1638748806816705536,2.6381,2.6421,2.5052,2.5250,2.64010,2.51510
1638748806885901056,2.6381,2.6421,2.5052,2.5250,2.64010,2.51510
1638748806982740480,2.6381,2.6421,2.5053,2.5250,2.64010,2.51515

In [25]:
start = 1638718922000000000
end = 1638742654000000000
data_period = data[(data.index >= start) & (data.index <= end)]
data_period

,spot_bid,spot_ask,future_bid,future_ask,spot_mid,future_mid
exchange_timestamp_nanos,,,,,,
1638718922114862080,2.6579,2.6632,2.5173,2.5388,2.66055,2.52805
1638718922436453120,2.6579,2.6632,2.5173,2.5388,2.66055,2.52805
1638718922464902656,2.6579,2.6632,2.5173,2.5388,2.66055,2.52805
1638718922536962816,2.6579,2.6632,2.5173,2.5388,2.66055,2.52805
1638718922630277888,2.6579,2.6632,2.5173,2.5388,2.66055,2.52805
...,...,...,...,...,...,...
1638742653886792448,2.5660,2.5697,2.4382,2.4533,2.56785,2.44575
1638742653918120960,2.5660,2.5697,2.4382,2.4533,2.56785,2.44575
1638742653938227712,2.5660,2.5697,2.4382,2.4533,2.56785,2.44575
1638742653961216256,2.5660,2.5697,2.4382,2.4533,2.56785,2.44575
1638742653991097856,2.5660,2.5703,2.4382,2.4533,2.56815,2.44575

In [26]:
data_period.mean()

spot_bid      2.657075
spot_ask      2.662522
future_bid    2.525105
future_ask    2.539830
spot_mid      2.659799
future_mid    2.532467
dtype: float64